<html <head>
<title>AllTypeWriters</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
<!-- load bootstrap css -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" type="text/css">
<!-- load bootstrap-theme css -->
<link rel="stylesheet" href="/layout.css" type="text/css">
<!-- Theme CSS -->
<link href="/index/css/freelancer.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/index/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Pangolin" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<style>
body {
    background-color: white
}

.container-fluid {
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

.col-xs-12 {
    text-align: center;
    border-bottom: 1px solid;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

#bodyText {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    line-height: 250%;
}

#fb-root {
    margin-left: 100px;
}

#likeButton:hover {
    color: #800000;
    cursor: pointer;
}

#likeButton1 {
    color: #800000;
}

.commentspecial {
    background-color: #e8ecf2;
    border-radius: 25px;
    margin-top: 10px;
    padding-top: 6px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
}

.comment {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 6px;
}

h6 {
    color: #659ced;
}

#comment_message {
    padding-bottom: 10px;
}

.btn-default {
    border-color: white;
    background-color: white;
    background-image: none;
    box-shadow: none;
    border-width: 0px;
    margin-bottom: 0px;
}

.btn-default:hover {
    background-color: white;
    border-color: white;
    background-image: none;
    box-shadow: none;
    border-width: 0px;
}

#likeCounter {
    font-size: 15px;
    padding-top: -30px;
    padding-left: 5px;
}

.btn-facebook {
    padding-right: 6px;
}

.btn-google-plus {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-twitter {
    padding-left: 0px;
}

.googleplus {
    color: #c14646;
}

.facebook {
    color: #365899;
}

.twitter {
    color: #1c94e0;
}
 .img-profile {
        border-radius: 50%;
}
#authorAbout{
    text-align: justify;
    line-height: 170%;
}
.spl{
    border-top: 1px solid;
}
</style>
</head>

<body>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '302056836913512',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/profile">All Type Writers</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/profile"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/profile/startastory" target="_blank">Start a story</a>
                    </li>
                    <% try{
                    if(user._id){
                    %>
                        <li class="page-scroll">
                            <a href="/logout">Logout</a>
                        </li>
                        <% }} catch(err){
                    	 %>
                    	  <li class="page-scroll">
                        
                		<li><a href="" data-toggle="modal" data-target="#modal-login"> Login</a></li>
                    </li>
                    <%} %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Story Display Part -->
    <div class="container-fluid">
        <div class="col-xs-12">
            <h1><%= title %></h1>
        </div>
        <br>
        <div class="col-xs-9">
            <h4>By,<%= author %></h4>
            <h6 id="date_out"></h6>
        </div>
        <div class="col-xs-3">
            <h6 id="date_in" hidden="true"><%= date %></h6>
            <h6 id="date_out"></h6>
        </div>
        <br>
        <div id="bodyText">
            <%- body %>
                <br>
                <!--like button-->
                <%
				try{
				console.log(likes)
				console.log(likes.indexOf(user._id))
			    if(likes.indexOf(user._id)==-1){
				%>
                    <form id="like_form" role="form" action="/<%=id%>/like" method="post">
                        <button type="Submit" class="btn btn-default"><i class="fa fa-heart fa-3x" id="likeButton"></i></button>
                        <p id="likeCounter">
                            <%=likes.length %> Likes</p>
                    </form>
                    <%}
				if(likes.indexOf(user._id)>-1){%>
                        <form id="dislike_form" role="form" action="/<%=id%>/dislike" method="post">
                            <button type="Submit" class="btn btn-default"><i class="fa fa-heart fa-3x" id="likeButton1"></i></button>
                            <p id="likeCounter">
                                <%=likes.length %> Likes</p>
                        </form>
                        <%}	}		
                        catch(err){%>
                       
                                <button class="btn btn-default"><i class="fa fa-heart fa-3x" id="likeButton"></i></button>
                                <p id="likeCounter">
                                    <%=likes.length %> Likes</p>
                            
                            <%
                        	console.log(err);
                        }
				
			%>
                                <!--Share button-->
                                <a id="shareBtn" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook fa-2x facebook"></i></a>
                                <a class="btn btn-social-icon btn-google-plus">
                                    <div class="g-plus" data-action="share" data-height="24"></div>
                                </a>
        </div>
        <div class="col-xs-13">
            <h3>Comments:</h3>
        </div>
        <br>
        <%for(var i=0;i<comments.length;i++){%>
            <div class="col-xs-13 commentspecial">
                <h6><%=comments[i].comment_by%></h6>
                <div id="comment_message">
                    <%=comments[i].comment_message%>
                </div>
            </div>
            <%}%>
                <br>
                <div class="col-xs-13">
                    <form role="form" action="/<%=id%>/comment" method="post">
                        <div class="form-group">
                            <label for="comment"></label>
                            <textarea class="form-control" rows="2" id="comment" name="comment" placeholder="Praise the StoryTeller :) "></textarea>
                        </div>
                        <button type="Submit" class="btn btn-primary btn-info-full next-step">Praise!</button>
                    </form>
                </div>

                <br><br><br>
                <div class="col-xs-3">
                </div>
                              
                <div class="col-xs-9">
                    <h3>About The Author</h3>
                </div>
                <div class="col-xs-3">
                    <%if (author_image!="undefined") {%>
                        <a href="#"> <span style="margin-left:10px;"><img class="img-profile"src="<%=author_image%>" alt="facebook-image here"></span></a>
                    <%}%>
                                        
                </div>
                <div class="col-xs-9">
                <p id="authorAbout">                   
                                        
                </p>
                </div>
            
                <p id="author_id" hidden="true"><%=author_id%></p>



      <!--Login-Modal-->
         <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
    <div class="modal-dialog modal-sm"> 
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
          <h3 class="modal-title" id="modal-register-label">Login</h3>
        </div>
        <div class="modal-body">     

          <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block" id="loginButton">Login</button>
        <a href="/auth/facebook" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> Facebook</a>

        <a href="/auth/google" class="btn btn-danger btn-block"><span class="fa fa-google-plus"></span> Google</a>
</form>
        </div>
      </div>
    </div>
  
  </div>

    
    </div>
    <p hidden=true id="category">
        <%=category%>
    </p>
    <p hidden=true id="story_id">
        <%=id%>
    </p>
    <!-- jQuery -->
    <script src="/assets/js/jquery-3.2.1.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="/index/js/freelancer.min.js"></script>
    <!--Share button Javascript-->
    <script>
    
    date_in = document.querySelector("#date_in").innerHTML.slice(0, 15);
    document.querySelector("#date_out").innerHTML = date_in;
    category = document.querySelector('#category').innerHTML.toLowerCase().replace(/ /g, '');
    story_id = document.querySelector('#story_id').innerHTML;
    url = "http://localhost:8080/profile/" + category + "/" + story_id;
    console.log(url);
    document.getElementById('shareBtn').onclick = function() {
        FB.ui({
            method: 'share',
            display: 'popup',
            href: url,
        }, function(response) {});
    }
    </script>
    <script >
        
        $(document).ready(function() {
            var author_id= $("#author_id").text();
            console.log(author_id);
            url="http://localhost:8080/author/"+author_id
        $.getJSON(url,
        function(data){
            console.log(data)
            data.forEach(function(val){
                

                    console.log(val.about)
                     $("#authorAbout").html(val.about); 
                
                                
            });
            
        });



    });  
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>